@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    background-color: #fff; 
}

.wrapper {
    width: 700px;
}

div.content {
    /* horizontal centering */
    margin: auto;
    text-align: center;

    /* shadow effect */
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: #fffefb;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-style: solid;
    border-color: #c49c80;

    /* max view for iPhone 13 screen */
    width: 900px;
}
  
  /* DEMO-SPECIFIC STYLES */
  .typewriter h1 {
    color: #000;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

.footer {
  font-family: sans-serif;
  text-align: center;
  margin-top:100px;
}